[user]
  name = Tuomas Tielinen
  email = {{ .email | quote }}
{{- if eq .chezmoi.fqdnHostname "boxkit.ALL0005" }}
[pull]
  rebase = false
[commit]
  gpgsign = false
[credential]
  helper = store
{{- end }}
[init]
  defaultBranch = main
